@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Hide scrollbar but keep scrolling */
html {
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Edge, Safari */
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;

}